.header{
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  font-size: 20px;
  letter-spacing: 2px;
  height: 48px;
  line-height: 48px;
  ul{
    display: flex;

    li{
      flex: 1;
      &:nth-of-type(2){
        flex: 3;
      }
    }
  }

}
.main{
  margin-bottom: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  .slider{
    position: relative;

    clear: both;
    width: 100%;
    ul{
      position: absolute;
      left: 0;
      top: 0;
      li{
        float: left;
        img{
          width: 100%;
          display: block;
          height: auto;
        }
      }
    }
    ol{
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 1;
      bottom: 10%;

      li{
        display: inline-block;
        border-radius: 10px;
        background-color: #000;
        width: 20px;
        height: 20px;
        margin: 0 5px;
      }
    }
  }
}
.footer{
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .nav{
    display: flex;
    height: 100%;
    background: beige;
    li{
      flex: 1;
      height: 100%;

      a{
        height: 100%;
        &.active{

          color: red;

        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i{
          flex: 2;

          line-height: 30px;
        }
        p{
          flex: 1;

        }
      }
    }
  }
}